html,
body {
  padding: 0;
  margin: 0 auto;
  width: 70%;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: red;
  -webkit-text-decoration-color: red;
}

* {
  box-sizing: border-box;
}

.head {
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: left;
  font-size: 4em;
}
