.thumbnail {
  text-align: center;
}

.section {
  align-self: center;
}

.article {
  width: 70%;
  margin: 0 auto;
}

.hr {
  margin: 1rem 0;
  background-color: green;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  opacity: 0.7;
}

@media only screen and (max-width: 700px) {
  .article {
    width: 100%;
    padding: 1em;
  }
}
