.nav {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  align-items: center;
}

#social > li {
  list-style: none;
  background-color: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 7ch;
  min-height: 5ch;
  margin-top: 10px;

  transform: translateX(6.6ch);
  border-radius: 10px 0 0 10px;
  padding-left: 10px;
  transition: ease-in 200ms;
  cursor: pointer;
}

#social > li:hover {
  transition: ease-in 100ms;
  transform: translateX(0);
}

#social > li > a {
  margin-right: auto;
}

#social > li > span {
  padding-right: 3px;
  padding-left: 4px;
}

@media only screen and (max-width: 600px) {
  .nav {
    position: static;
  }

  #social {
    position: inherit;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 0;
  }
  #social > li {
    display: block;
    transform: translateX(0);
    border-radius: 10px;
    padding: 0;
    align-items: center;
  }
  #social > li > span {
    display: none;
  }
  #social > li > a {
    margin: 10px;
  }
  #social > li:hover {
    transform: scale(1.3);
  }
}
