.tags {
  display: flex;
  overflow: hidden;
  gap: 1em;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  overflow-x: scroll;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

.tags::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.tags > li {
  list-style: none;
}
.tags > li {
  padding: 0.5em;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 1px black;
  min-width: 10ch;
  text-align: center;
}
.hr {
  margin: 1rem 0;
  background-color: green;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  opacity: 0.7;
}
